html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #222;
  color: #fff;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'IndieFlower';
  src: url('/fonts/IndieFlower-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'NanumPenScript';
  src: url('/fonts/NanumPenScript-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

main {
  padding: 1em 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: IndieFlower, sans-serif;
}

a {
  color: #eee;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 50%;
}

.description {
  font-size: 1.6em;
}
